In [2]:
import pandas as pd

df = pd.read_csv("submission.csv")
df.head()

                                            filename  animal_type
0  e030b20928e90021d85a5854ee454296eb70e3c818b413...            4
1  e030b20929e90021d85a5854ee454296eb70e3c818b413...            1
2  e030b2092be90021d85a5854ee454296eb70e3c818b413...            1
3  e030b2092ce90021d85a5854ee454296eb70e3c818b413...            1
4  e030b2092de90021d85a5854ee454296eb70e3c818b413...            1

In [3]:
animals=["elefante", "farfalla", "mucca",  "pecora", "scoiattolo"]
label_to_class = {0 : animals[0], 1 : animals[1], 2 : animals[2], 3 : animals[3], 4 : animals[4]}
label_to_class

{0: 'elefante', 1: 'farfalla', 2: 'mucca', 3: 'pecora', 4: 'scoiattolo'}

In [5]:
df['animal'] = df['animal_type'].map(label_to_class)
df.head(10)

                                            filename  animal_type      animal
0  e030b20928e90021d85a5854ee454296eb70e3c818b413...            4  scoiattolo
1  e030b20929e90021d85a5854ee454296eb70e3c818b413...            1    farfalla
2  e030b2092be90021d85a5854ee454296eb70e3c818b413...            1    farfalla
3  e030b2092ce90021d85a5854ee454296eb70e3c818b413...            1    farfalla
4  e030b2092de90021d85a5854ee454296eb70e3c818b413...            1    farfalla
5  e030b20a20e90021d85a5854ee454296eb70e3c818b413...            1    farfalla
6  e032b10b2df21c22d2524518b7444f92e37fe5d404b014...            0    elefante
7  e032b5082ef61c22d2524518b7444f92e37fe5d404b014...            3      pecora
8  e034b80f2ff61c22d2524518b7444f92e37fe5d404b014...            4  scoiattolo
9  e037b00b2af41c22d2524518b7444f92e37fe5d404b014...            3      pecora

In [6]:
df.to_csv("labels.csv")